[Desktop Entry]
Name=system-config-rep
Version=1.0
GenericName=Yum repository administration GUI.
Comment=Simplifies basic repository administration tasks.
Exec=/usr/bin/system-config-repo
MimeType=application/x-yum-repositories
Icon=gpk-repo
Type=Application
Terminal=false
Categories=GTK;System;
