[Desktop Entry]
Name=system-config-rep
Version=1.0
GenericName=Yum repository administration GUI.
Comment=Simplifies basic repository administration tasks.
Exec=system-config-repo
MimeType=application/x-yum-repositories;
Icon=scr-repo
Type=Application
Terminal=false
Categories=GTK;System;
