[Desktop Entry]
Name=pgdg-93-fedora
Version=1.0
GenericName=PostgreSQL Yum repository
Comment=Enables installation of the postgresql packages built upstream.
Exec=/usr/bin/system-config-repo pgdg-93-fedora.repo
Icon=PostgreSQL-repo
Type=Application
Terminal=false
Categories=GTK;System;
