[Desktop Entry]
Name=virtualbox-repo
Version=1.0
GenericName=Virtualbox Yum repository
Comment=Enables installation of the virtualbox  software
Exec=/usr/bin/system-config-repo virtualbox.repo
Icon=virtualbox-repo
Type=Application
Terminal=false
Categories=GTK;System;
