[Desktop Entry]
Name=dropbox-repo
Version=1.0
GenericName=Adobe Yum repository
Comment=Enables installation of Adobe software, including Acrobat Reader.
Exec=/usr/bin/system-config-repo adobe-i386-linux.repo
Icon=gpk-repo
Type=Application
Terminal=false
Categories=GTK;System;
